/*the side bgroun color & font style*/
body,
.html {
  background-color: gainsboro;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.8em;
  font-size: 40px;
}

/*the header style*/
.header {
  border: 5px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-decoration-color: hotpink;
}

.article {
  font-size: 17px;
  line-height: 2em;
}
.article:first-child{
  background-color: rosybrown;
  font-size: 0.8em;
}

.div {
  border-style: inset;
  border-color: lightcoral;
}

.footer {
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  line-height: 7px;
}
.img{
  border-style: dotted;
  border-width: 1px;
  block-size: 1em;
}
style="border: 1px solid #bababa;" 